vendor/**
library/**
composer.lock
config/config.json
build/**
dist/**
zip/**
db/connector.s3db
.idea/**
config_de.xml
config.xml
logs/**
!logs/.htaccess
plugins/**
viewer
!plugins/.gitkeep
jtl_connector_*.zip
tmp/**
